option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: trashkid.rapist@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    STARTUP_SIGNUP_TABLE: nodejs-tutorial-1
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run dev"
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NPM_USE_PRODUCTION
    value: false
